img{
    width: 250px;
    height: 250px;
    border-color: #333;
}

.conteudo{
    display: flex; /*Organiza cada elemento lado a lado*/
    justify-content: center/*Centraliza as DIVs com imagens e texto;*/
}

.produtos{
    width: 250px; /*Tamanho do contêiner*/
    margin-right: 20px; /*Margem à direita*/
    color: #dadada; /*Definindo a cor do texto*/
}